# Introdução a Data Science

In [7]:
!pip install pandas  # Instalando Pandas.

Requirement already satisfied: pandas in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
import pandas as pd  # Importando a biblioteca Pandas.

In [6]:
pd.read_csv("ratings.csv")  # Função para ler um CSV. Aqui estamos importando um Database de notas de filmes.

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [10]:
notas = pd.read_csv("ratings.csv")  # Atribuindo os dados em uma variável
notas.head()  # Função para mostrar apenas as 5 primeiras notas.

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [11]:
notas.shape  # Isso nos dá o "formato" do database, quantas colunas e quantas linhas ele possui.

(100836, 4)

In [12]:
notas.columns = ["usarioID", "filmeID", "nota", "momento"]  # Alterando o nome das colunas do DataBase.

In [13]:
notas.head()  #.head() nos mostra apenas as primeiras 5 linhas de um dataframe.

   usarioID  filmeID  nota    momento
0         1        1   4.0  964982703
1         1        3   4.0  964981247
2         1        6   4.0  964982224
3         1       47   5.0  964983815
4         1       50   5.0  964982931

In [14]:
notas['nota']  # Filtrando pela coluna "nota"

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [15]:
notas['nota'].unique()  #.unique() nos mostra apenas os valores das notas, não suas quantidades.

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [16]:
notas['nota'].value_counts()  #.value_counts() nos mostra a quantidade de um valor. Ex: 26818 notas 4.0

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [17]:
notas['nota'].mean()  #.mean() nos mostra a média das notas.

3.501556983616962